on:
  pull_request:
    branches: [ main ]

jobs:
  build:
    runs-on: ubuntu-latest
    container:
      image: maven:3.9.6-eclipse-temurin-21

    steps:
      - uses: actions/checkout@v4

      - run: mvn clean compile test package

      - uses: actions/upload-artifact@v4
        with:
          name: java-app
          path: target/*.jar